.task_show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  border-style: inset;
  border-color: #4b0082;
  text-align: center;
  font-size: small;
  border-radius: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task_show:hover {
  background-color: #f0ffff;
}
.task_show:hover + div.hidden_buttons {
  display: block;
}
