.task_show {
  margin: 0;
  background-color: #b0c4de;
  border-style: inset;
  border-color: #4b0082;
  text-align: center;
  font-size: small;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task_show:hover {
  background-color: #f0ffff;
}
.task_show:hover + div.hidden_buttons {
  display: block;
}
