main{
  margin: 2em;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: #4B0082;
  color: white;
 

}
.dropdown{
  display: flex;
  color: white

}

.weekChanger{
  display: flex;
  justify-self: center;
}
.layout{
  /* grid-template-columns:  10%, 10%, 10%, 10%, 10%, 10%;
  grid-template-rows:  10%; */
  display: flex;
  flex-direction: row;
  
}
.days{
  margin-top:1em;
  margin-left: 5em;
  /* grid-column-start: auto;
  grid-column-end: auto; */
width:90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}
.times{
  /* grid-row-start: 1;
  grid-row-end: auto; */
  display: flex;
  flex-direction: column; 
}
.topdays{
  background-color: teal;
}
.newtask{
  position: absolute;
  margin-left: 0;
  margin-top:1em;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
