main {
  margin: 2em;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: #4b0082;
  color: white;
}
.dropdown {
  display: flex;
  color: white;
}

.weekChanger {
  display: flex;
  justify-self: center;
}
.layout {
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
 
}
.days {
  margin-top: 3em;
}

.topdays {
  background-color: teal;
}
.newtask {
  position: absolute;
  margin-left: 0;
  margin-top: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
